* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  width: 95%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message {
  border: 1px solid lightgray;
  background: whitesmoke;
  border-radius: 5px;
  width: 500px;
  height: auto;
  margin: auto;
  padding: 0 20px;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.message h3 {
  text-align: center;
  font-weight: bold;
  margin: 5px;
}
.message p:nth-child(2) {
  border-bottom: 1px solid black;
}
.message input {
  width: 90%;
  padding: 8px 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.message-output {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1rem;
}
.message-list {
  list-style-type: none;
}

button {
  width: fit-content;
  padding: 8px;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: whitesmoke;
}

.buttons {
  width: 97%;
  text-align: right;
}
button[type="submit"] {
  margin: 3px 0px;
}
button[type="submit"]:hover {
  background-color: rgb(17, 5, 5);
  color: #fff;
  transition: all 0.3s ease;
}

@media screen and (max-width: 480px) {
  .message input {
    width: 82%;
  }
}
